:root {
  font-family: Avenir, Jost, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: top;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

a, button {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover,
button:hover, button:focus {
  color: #747bff;
}

.card {
  padding: 2em;
}

input[type="checkbox"]:focus {
  outline: 1px #808080 dashed;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  margin-top: 40px;
  padding: 0 20px;
}

input, select, button {
  border-radius: 0;
  border: none;
  outline: none;
  font-family: inherit;
  transition: border-color 0.15s;
}
button {
  border-bottom: 2px solid transparent;
  background-color: transparent;
  cursor: pointer;
  font-size: inherit;
  padding: 0.1em 0;
}
input, select {
  border-bottom: 2px solid #303030;
  font-size: 1em;
}
input:hover, input:focus,
select:hover, select:focus,
button:hover, button:focus {
  border-color: #646cff;
}

select {
  padding: 0.4em 0.8em;
  background-color: #000000
}
select:focus {
  background-color: #1d1d1d;
}
input {
  background-color: inherit;
  padding: 0.4em 0.6em;
}


.error {
  color: red;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #2c2c2c;
    background-color: #ffffff;
  }
  a:hover,
  button:hover, button:focus {
    color: #535bf2;
  }
  select {
    background-color: #ffffff;
  }
  select:focus {
    background-color: #f5f5f5;
  }
  input, select {
    border-color: #d9d9d9;
  }
}
