<script lang="ts">
    import Time from './lib/Time.svelte'
    import Room from './lib/Room.svelte'
    import Schedule from './lib/Schedule.svelte'

    import api from './lib/api'

    let selectedQuarter: string
    let sessions: string[] = []
    let selectedBuilding: string
    let selectedRoom: string

    let showSessions = false    
    const sessionsString = (sessions: string[]) => {
        if(sessions.length == 0) return "Sessions"
        else if(sessions.length == 1) return sessions[0]
        else if(sessions.length <= 4) return sessions.reduce((a, b) => `${a}, ${b}`)
        else return `${sessions.slice(0, 3).reduce((a, b) => `${a}, ${b}`)} +${sessions.length-3}`
    }
</script>

<main>
    {#await api.getQuarters()}
        <p>Loading</p>
    {:then quarters}
        <div id="left">
            <div class="center">
                <h1 id="title">Live Schedule</h1>
                <div class="line">
                    <Time />
                </div>

                <div class="line">
                    <select bind:value={selectedQuarter}>
                        {#each Object.values(quarters).sort((s1, s2) => s1.quarter < s2.quarter ? 1 : -1) as quarter}
                            <option value={quarter.quarter}>{quarter.name}</option>
                        {/each}
                    </select>

                    {#if quarters[selectedQuarter] && quarters[selectedQuarter].sessions.length > 0}
                        <div id="sessionscontainer">
                            <button id="showsessions" on:click={() => { showSessions = !showSessions }}>
                                {#if showSessions}▾{:else}▸{/if} {sessionsString(sessions)}
                            </button>
                            <div id="sessions" hidden={!showSessions}>
                                {#each quarters[selectedQuarter].sessions.sort() as session}
                                    <label class="session">
                                        <input type="checkbox" name="sessions" value={session} bind:group={sessions} />
                                        {session}
                                    </label>
                                {/each}
                            </div>
                        </div>
                    {/if}
                </div>

                <div class="line">
                    {#if selectedQuarter}
                        {#await api.getQuarter(selectedQuarter).then(quarter => {
                            if(!quarter.buildings[selectedBuilding]) selectedBuilding = undefined
                            return quarter
                        })}
                            <p>Loading</p>
                        {:then quarter}
                            <select bind:value={selectedBuilding}>
                                {#each Object.values(quarter.buildings).sort((b1, b2) => b1.name > b2.name ? 1 : -1) as building}
                                    <option value={building.building}>{building.name}</option>
                                {/each}
                            </select>
                        {:catch error}
                            <p class="error">{error.message}</p>
                        {/await}
                    {/if}
                </div>
            </div>

            {#if selectedBuilding}
                {#await api.getBuilding(selectedQuarter, selectedBuilding, sessions).then(building => {
                    if(!building.rooms[selectedRoom]) selectedRoom = undefined
                    return building
                })}
                    <p>Loading</p>
                {:then building}
                    <div id="roomlist">
                        {#each Object.values(building.rooms) as room}
                            <button
                            class="room"
                            style="outline: { selectedRoom == room.room ? "1px #9f9f9f dashed" : "none"}"
                            on:click={() => { selectedRoom = room.room }}
                            >
                                <Room {room} />
                            </button>
                        {/each}
                    </div>
                {:catch error}
                    <p class="error">{error.message}</p>
                {/await}
            {/if}
        </div>

        {#if selectedBuilding}
            {#await api.getBuilding(selectedQuarter, selectedBuilding, sessions) then building}
                {#if building.rooms[selectedRoom]}
                    <div id="right">
                        <h2 id="roomtitle">
                            {building.name}{#if building.rooms[selectedRoom].name}, {building.rooms[selectedRoom].name}{/if}
                        </h2>
                        <Schedule room={building.rooms[selectedRoom]}/>
                    </div>
                {/if}
            {/await}
        {/if}
    {:catch error}
        <p class="error">{error.message}</p>
    {/await}
</main>

<style>
    main {
        display: flex;
        flex-direction: row;
    }
    #left {
        display: block;
        min-width: 480px;
    }
    #right {
        margin-left: 24px;
    }
    #title {
        font-weight: 700;
        background: -webkit-linear-gradient(70deg, #0BA89A, #FEBC11);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    #roomlist {
        margin: 20px 0;
    }
    #roomtitle {
        margin-top: 44px;
    }
    #showsessions {
        min-width: 80px;
        text-align: left;
    }
    #sessionscontainer {
        display: inline-block;
    }
    #sessions {
        max-width: 200px;
        position: absolute;

        background-color: #000000;
        border: 1px #666666 solid;
        border-radius: 4px;
        box-shadow: 0 1px 2px #0000002f;
        z-index: 1;

        margin-top: 4px;
        padding: 8px;
    }

    @media (prefers-color-scheme: light) {
        #sessions {
            background-color: #ffffff;
            border-color: #cccccc
        }
    }

    .session {
        display: inline-block;
        padding: 0 4px;
    }
    .line {
        margin-bottom: 8px;
    }
    .center {
        text-align: center;
    }
    .room {
        font: inherit;
        color: inherit;
        display: block;
        border: none;
        width: 100%;
        padding: 0;
        margin: 0;
        cursor: default;
    }
    .room:hover, .room:focus {
        background-color: #b9b9b92d;
    }
</style>
