<script lang="ts">
	import type { Meeting, Item } from './api'
	type FullMeeting = Meeting & Item

	export let meeting: FullMeeting
</script>

<div class="main">
	<p class="bold">
		{#if meeting.session}
			<div class=box>
				{meeting.session}
			</div>
		{/if}
		{meeting.course}
		{#if meeting.is_section}
			section
		{/if}
	</p>
	<p>{meeting.full_title}</p>
	<p class="faded">{meeting.start.format('h:mm a')} - {meeting.end.format('h:mm a')}</p>
</div>

<style>
	p {
		display: inline;
	}
	.main {
		display: inline;
	}
	.faded {
		color: #808080
	}
	.bold {
		font-weight: 500;
	}
	.box {
		background-color: #808080;
		color: #ffffff;
		border-radius: 2px;
		padding: 0 4px;
		line-height: 16px;
		display: inline-block;
	}
</style>