<script lang="ts">
	import dayjs from 'dayjs'
	import relativeTime from 'dayjs/plugin/relativeTime'
	import { onDestroy } from 'svelte'

	import type { Building, Room, Meeting, Item } from './api'
	import { time } from './stores'

	import Brief from './Brief.svelte'
	import Tag from './Tag.svelte'

	type FullMeeting = Meeting & Item

	dayjs.extend(relativeTime)

	export let room: Room

	let updateTime: {
		datetime: dayjs.Dayjs,
		time: dayjs.Dayjs,
		day: string
	}
	let firstActiveIndex: number
	let nextStartTime: dayjs.Dayjs
	let activeMeetings: FullMeeting[]

	const unsubscribe = time.subscribe(time => {
		if(!updateTime || updateTime.day != time.day || time.time.isBefore(updateTime.time)) {
			firstActiveIndex = 0
		}

		let dayMeetings = room.meetings[time.day] || []
		let newFirstActiveIndex: number
		let newNextStartTime: dayjs.Dayjs
		let newActiveMeetings: FullMeeting[] = []

		for(let i = firstActiveIndex; i < dayMeetings.length; i++) {
			const meeting = dayMeetings[i]

			if(time.time.isBefore(meeting.start)) {
				if(newFirstActiveIndex === undefined) newFirstActiveIndex = i
				newNextStartTime = meeting.start
				break
			}

			if(time.time.isBefore(meeting.end)) {
				if(newFirstActiveIndex === undefined) newFirstActiveIndex = i
				const fullMeeting = Object.assign({}, meeting, room.items[meeting.item])

				newActiveMeetings.push(fullMeeting)
			}
		}

		updateTime = time
		firstActiveIndex = newFirstActiveIndex
		nextStartTime = newNextStartTime
		activeMeetings = newActiveMeetings
	})

	onDestroy(unsubscribe)
</script>

<div class="main">
	<Tag name={room.name} max_size={room.max_size} />
	<div class="contents">
		{#if activeMeetings.length > 0}
			<Brief meeting={activeMeetings[0]} />
			{#if activeMeetings.length > 1}
				<div class="pill">+{activeMeetings.length-1}</div>
			{/if}
		{:else if nextStartTime}
			<p class="faded">Next meeting {nextStartTime.from(updateTime.time)}</p>
		{:else}
			<p class="faded">No more meetings today</p>
		{/if}
	</div>
</div>


<style>
	p {
		display: inline;
	}
	.main {
		display: flex;
	}
	.contents {
		display: inline-block;
		text-align: left;
	}
	.faded {
		color: #808080
	}
	.pill {
		margin-left: 4px;
		display: inline-block;
		padding: 0 8px;
		background-color: #b6b6b657;
		border-radius: 1em;
	}
</style>