<script lang="ts">
	import type { Room, Meeting } from './api'

	import Brief from './Brief.svelte'

	export let room: Room

	const days = [
		{'day': 'M', 'name': 'Monday'},
		{'day': 'T', 'name': 'Tuesday'},
		{'day': 'W', 'name': 'Wednesday'},
		{'day': 'R', 'name': 'Thursday'},
		{'day': 'F', 'name': 'Friday'}
	]

	const min = (meetings: Meeting[]) => meetings.reduce((m1, m2) => m1.start.isBefore(m2.start) ? m1 : m2)
	const max = (meetings: Meeting[]) => meetings.reduce((m1, m2) => m1.end.isAfter(m2.end) ? m1 : m2)

	$: hasMeetings = Object.values(room.meetings).map(meetings => meetings.length > 0).reduce((d1, d2) => d1 || d2)
	$: earliest = hasMeetings ? min(Object.values(room.meetings).filter(meetings => meetings.length > 0).map(meetings => meetings[0])).start : undefined
	$: latest = hasMeetings ? max(Object.values(room.meetings).filter(meetings => meetings.length > 0).map(meetings => max(meetings))).end : undefined
	$: difference = hasMeetings ? latest.diff(earliest) : undefined
</script>

<div class="main">
	{#each Object.values(room.meetings) as dayMeetings, index}

		<div class="day" style="margin-right: { index < 4 ? "12" : "0" }px">
			<p class="dayname">{days[index].name}</p>
			{#if hasMeetings}
				<div class="container" style="height: {difference/50000}px">
					{#each dayMeetings as meeting}
					
						<div class="meeting" style="top: {meeting.start.diff(earliest)/50000}px; height: {meeting.end.diff(meeting.start)/50000}px;">
							<div style="margin: 5px;">
								<Brief meeting={Object.assign({}, meeting, room.items[meeting.item])} />
							</div>
						</div>

					{/each}
				</div>
			{/if}
		</div>

	{/each}
</div>

<style>
	.main {
		min-width: 800px;
		display: flex;
		flex-direction: row;
		margin: 20px 0;
	}
	.day {
		flex: 1 1 0;
	}
	.dayname {
		font-weight: 500;
		text-align: center;
	}
	.container {
		position:relative;
	}
	.meeting {
		position: absolute;
		background-color: #b9b9b918;
		outline: #b9b9b965 1px solid;
		outline-offset: -1px;
		overflow-y: auto;
		scrollbar-width: thin;
		font-size: 11pt;
		line-height: 16px;
		width: 100%;
	}
</style>