<script lang="ts">
	export let name: string
	export let max_size: number

	let color: string
	$: 	if(max_size < 20) color = "#82aaa780"
		else if(max_size < 40) color = "#FEBC11"
		else if(max_size < 70) color = "#0BA89A"
		else color = "#004d8e"
</script>

<div title={"" + max_size} style="min-width: 72px; color: {color}">
	●
	<div style="margin-left: 4px">
		{name}
	</div>
</div>

<style>
	div {
		font: inherit;
		display: inline;
	}
</style>