<script lang="ts">
	import { time } from './stores'
	import { onDestroy } from 'svelte';

	const days = [
    	{'day': 'M', 'name': 'Monday'},
    	{'day': 'T', 'name': 'Tuesday'},
    	{'day': 'W', 'name': 'Wednesday'},
    	{'day': 'R', 'name': 'Thursday'},
    	{'day': 'F', 'name': 'Friday'}
  	]

	let selectedDay: string
	let selectedTime: string

	const unsubscribe = time.subscribe(value => {
		if(!value.isCustom) {
			selectedDay = value.day
			selectedTime = value.time.format('HH:mm')
		}
	})
	const changeTime = () => {
		time.setCustom(selectedDay, selectedTime)
	}
	const reset = () => {
		time.reset()
		selectedDay = $time.day
		selectedTime = $time.time.format('HH:mm')
	}

	onDestroy(unsubscribe)
</script>

<select bind:value={selectedDay} on:change={changeTime}>
	{#each days as day}
		<option value={day.day}>{day.name}</option>
	{/each}
	<option value="Sa" hidden>Saturday</option>
	<option value="Su" hidden>Sunday</option>
</select>
<input type="time" bind:value={selectedTime} on:input={changeTime} />
{#if $time.isCustom}
	<button on:click={reset}>Reset</button>
{/if}